main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
}

img {
    max-width: 100px;

}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
  }
  
  h1, p {
    margin: 0 0 1em 0;
  }
  
  .wrapper {
    max-width: 1280px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
  }
  
  @media screen and (min-width: 500px) {
  
    /* no grid support? */
    .sidebar {
      float: left;
      width: 19.1489%;
    }
  
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 79.7872%;
    }

    .content img {
      height: 200px;
      padding: 20px;
    }
  
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 1fr 3fr;
    }
    
    .header, .footer {
      grid-column: 1 / -1;
      /* needed for the floated layout */
      clear: both;
    }
  
  }
  
  .wrapper > * {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
  }
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }

  ul {
    list-style-type: none;
  }
  
  h5 {
    text-align: center;
  }

  /* Card flip action */

  body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}


button {
  width: 150px;
  height: 80px;
  background-color: darkblue
  color: whitesmoke;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 100px;
}