

* {
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
    display:block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

a {
    text-decoration: none;
    color: #e9e9e9;
}

#nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 320px;
}

#nav-list a {
    font-size: 1.3rem;
    padding: 1rem;
}

#nav-list a:hover {
background: #e9e9e9;
color: #00314f;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #5e8930; 
    height: 60px;
    align-items: center;
}
li {
    font-size: 1.7 rem;
}
h1 {
    color: #d5d7d6 ;
}

p {
    font-size: 0.6em;

}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:  #002033;
}
.welcome-section > p {
    color: #5e8930;
}
.projects-section {
    text-align: center;
    padding: 6rem 4rem;
    background-color: #d5d7d6;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:6rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    box-shadow: 0.5px 0.5px #949494;
    border: 0.5px solid;
    padding: 5px;
}
.project-title {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    font-family: roboto;
    font-weight: 900;
    background: #5e8930;
}
#contact {
    display: flex;
    flex-direction: column;
}
.contact-section {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
}

.contact-section-header > p {
font-style: italic;
}

#contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    color: #303841;
}

.contact-details {
    padding: 1rem 2rem;
    font-size: 1.4rem;
}
#profile-link {
    color: #000;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    color: #d5d7d6;
    background-color: #00314f
}

/* If the screen size is 801px or more */
@media only screen and (min-width: 601px) {
    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      font-style: italic;
    }
.underline-header {
    margin: 0 auto 4rem auto;
        max-width: 700px;
        border-bottom: 0.1rem solid #000;
    }
    h3 {
        font-size: 2.5rem;
    }

/* If the screen size is 800px or less */
@media only screen and (max-width: 800px) {
    h2 {
        font-style: none;
        font-size: 1.8rem;
        margin-bottom: 3em;
        font-weight: 700;
    }
    .underline-header {
        margin: 0 auto 4rem auto;
        max-width: 500px;
        border-bottom: 0rem solid #000;
    }
    h3 {
    font-size: 1.8rem;
    margin-bottom: 0em;
}


/* star wars page styles */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
}

section2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
}
